@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

* {
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.headerlinks {
    display: flex;
    gap: 32px;
    padding: 0;
}

.headerlinks a, .lefthero p, .signup{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 400;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    margin: 0;
    padding: 1em 2em;
    gap: 32px;
    justify-content: space-between;
}

.hero img {
    max-width: 275px;
    max-height: 184px;
    align-self: center;
}

.signup {
    margin: 0;
    background-color: #3882f6;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 32px
}