@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

* {
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.headerlinks {
    display: flex;
    gap: 32px;
    padding: 0;
}

.headerlinks a, .lefthero p, .signup{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 400;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    margin: 0;
    padding: 1em 2em;
    gap: 32px;
    justify-content: space-between;
}

.hero img {
    max-width: 275px;
    max-height: 184px;
    align-self: center;
}

.signup {
    margin: 0;
    background-color: #3882f6;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 32px;
}

.carddiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em 4em; 
    gap: 16px;
}

.info {
    font-size: 32px;
    font-weight: 800;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.quotediv {
    background-color: #e5e7eb;
    padding: 3em 4em;
}

.quotediv p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quotediv div {
    text-align: right;
    font-size: large;
    font-weight: 500;
    margin-top: 10px;;
}

.calltoact {
    margin: 3em 4em;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 400;
    border-radius: 5px;
    padding: 2em 4em;
    display: flex;
    gap: 4em;
    align-items: center;
}
.calltoact button {
    border: solid 2px white;
}

.footer , .footer a{
    margin-top: auto;
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 2em;
}